:root {
  --white-color: #fff;
  --warm-gray: #8c8377;
  --black-color: #000;
  --bright-blue: #006f9f;
  --teal-green: #07a74e;
  --terra-red: #d35064;
  --golden-yellow: #fcc743;
  --margin-xs: 10px;
  --margin-s: 20px;
  --margin-m: 30px;
  --padding-xs: 10px;
  --padding-s: 20px;
  --padding-m: 30px;
  --border-radius-s: 10px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-2xl: 40px;
  --font-size-3xl: 48px;
  --font-size-4xl: 64px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-heavy: 900;
  --border-radius-s: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
