.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 300px;
  border-radius: 10px;
  background-color: bisque;
  font-size: var(--font-size-l);
}
